<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<style>
.footer-text {
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	/*white-space: nowrap;
	overflow: hidden;
	border-right: .10em solid black;*/
	/* Tạo hiệu ứng dấu nháy */
	/*animation: typing 2s steps(16, end) infinite;
	color: red;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);*/
	/* Thêm hiệu ứng đổ bóng */
}

@
keyframes typing {from { width:0;
	
}

to {
	width: 100%;
}
}
</style>
<body>
	<!-- Footer -->
	<!-- Remove the container if you want to extend the Footer to full width. -->


	<footer class="text-lg-start text-white"
		style="background-color: #FBEEC1">

		<!-- Grid container -->
		<div class="container p-4">
			<!--Grid row-->
			<div class="row my-4">
				<!--Grid column-->
				<div class="col-lg-3 col-md-6 mb-4 mb-md-0">

					<div
						class="rounded-circle bg-white shadow-1-strong d-flex align-items-center justify-content-center mb-4 mx-auto"
						style="width: 150px; height: 150px;">
						<img src="../../images/logostore1.jpg" height="150px" alt=""
							loading="lazy" style="border-radius: 50%" />
					</div>
					<div class="navbar-breadcrumb text-container">
						<div class="footer-text">
							<a href=""class=""> R I N Z B O O K</a>
						</div>
					</div>

					<ul class="list-unstyled d-flex flex-row justify-content-center">
						<li><a class="text-black px-2"
							href="https://www.facebook.com/profile.php?id=61558880337991&mibextid=LQQJ4d"> <i
								class="fab fa-facebook-square"></i>
						</a></li>
						<li><a class="text-black px-2"
							href="https://www.instagram.com/rinzbook?igsh=MTd0MWdhM3l2ZWdhbg%3D%3D&utm_source=qr"> <i
								class="fab fa-instagram"></i>
						</a></li>
						<li><a class="text-black ps-2"
							href="https://www.youtube.com/channel/UCWzzTZ47GlGQoSExhGhCPEg">
								<i class="fab fa-youtube"></i>
						</a></li>
					</ul>

				</div>
				<div class="col-lg-3 col-md-6 mb-4 mb-md-0">
					<h5 class="text-warning  mb-4">HỖ TRỢ KHÁCH HÀNG</h5>

					<ul class="list-unstyled">
						<li>
							<p>
								<i class="fas fa-map-marker-alt text-warning pe-2"></i> <a
									class="text-gray"> Cái Răng, Cần Thơ </a>
							</p>
						</li>
						<li>
							<p>
								<i class="fas fa-phone text-warning pe-2"></i><a
									class="text-gray"> (+84) 899 695 181 </a>
							</p>
						</li>
						<li>
							<p>
								<i class="fas fa-envelope text-warning pe-2 mb-0"></i><a
									class="text-gray"> rinzbook2024@gmail.com </a>
							</p>
						</li>
					</ul>
				</div>
				<div class="col-lg-3 col-md-6 mb-4 mb-md-0">
					<h5 class="text-warning mb-4">TRỢ GIÚP</h5>

					<ul class="list-unstyled">
						<li>
							<p class="text-gray">Hướng dẫn mua hàng</p>
						</li>
						<li>
							<p class="text-gray">Phương thức thanh toán</p>
						</li>
						<li>
							<p class="text-gray">Phương thức vận chuyển</p>
						</li>
						<li>
							<p class="text-gray">Chính sách đổi - trả</p>
						</li>
					</ul>
				</div>
				<div class="col-lg-3 col-md-6 mb-4 mb-md-0">
					
					<iframe
						src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3929.420494742025!2d105.7556524747934!3d9.982081490122432!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31a08906415c355f%3A0x416815a99ebd841e!2zVHLGsOG7nW5nIENhbyDEkeG6s25nIEZQVCBQb2x5dGVjaG5pYw!5e0!3m2!1svi!2s!4v1712034597646!5m2!1svi!2s"
						width="250" height="250" style="border: 0;" allowfullscreen=""
						loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>


				</div>
				<!--Grid column-->
			</div>
			<!--Grid row-->
		</div>
		<!-- Grid container -->

		<!-- Copyright -->
		<div class="text-center p-3" 
			style="background-color: rgba(0, 0, 0, 0.2)">
			© 2024 Design by : <a class="text-white"
				href="https://mdbootstrap.com/">Rinz</a>
		</div>
		<!-- Copyright -->
	</footer>


	<!-- End of .container -->
	<!-- Footer END -->

</body>
</html>