<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>OTP Verification Form</title>

		<!-- MATERIAL DESIGN ICONIC FONT -->
		<link rel="stylesheet" href="../../signup/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">
		<link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />

		<!-- STYLE CSS -->

		<link rel="stylesheet" href="../../css/Confirm_style.css">

	</head>

	<body>
	<div class="container">
		<header>
			<i class="bx bxs-check-shield"></i>
		</header>
			<div class="inner">
				<form th:action="@{/confirm}" method="post">
					<label>Mã xác nhận</label>
					<div class="input-field">
						<input type="text" name="confirm" class="form-control" />
					</div>
					<h4>[[${error}]]</h4>
					<button>Xác nhận</button>
				</form>
			</div>
	</div>

		
	</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>