<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/layout::dynamic(~{::title},~{::body})}">

<head>
<meta charset="utf-8">
<title>Yêu thích</title>
<body>
	<!-- Page Content  -->
	<!-- BẮT ĐẦU PHẦN MÀY LẤY Ở ĐÂY NHA -->
	
						<div id="content-page" class="content-page">
							<div class="container-fluid">
								<div class="row">
									<div class="col-lg-12">
										<div class="iq-card-transparent mb-0">
											<div class="d-block text-center">
												
												<div class="w-100 iq-search-filter">
													<ul
														class="list-inline p-0 m-0 row justify-content-center search-menu-options">
													
													</ul>
												</div>
											</div>
										</div>

										<div class="iq-card">
											<div class="iq-card-body">
												<h5 class="mb-3" style="text-align: center;
												background-color: #659bdb;
												padding: 5px 0px;
												border-radius: 20px;
												color: #fbeec1;
												">DANH SÁCH SẢN PHẨM YÊU THÍCH</h5>
												<div class="row">
													<div class="col-sm-6 col-md-4 col-lg-3"
														ng-repeat="p in pagerfavorite.favorites">
														<div
															class="iq-card iq-card-stretch iq-card-height browse-bookcontent">
															<div class="iq-card-body p-0">
																<div class="d-flex align-items-center">
																	<div 
																		class="col-6 p-0 position-relative image-overlap-shadow" style=" height: 260px;
																		box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.6);">
																		<a href="javascript:void();"> <img
																			src="/images/book/{{p.book.image}}"
																			class="img-fluid rounded" alt="" style="width: 100%; height: 100%;"></a>
																		<div class="view-book">
																			<a href="/product/detail/{{p.book.id}}"
																				class="btn btn-sm btn-white" >Xem Ngay</a>
																		</div>
																	</div>
																	<div class="col-6">
																		<div class="mb-2">
																			<h6 class="mb-1" style="font-weight: bold;">{{p.book.name}}</h6>
																			<p class="font-size-13 line-height mb-1">{{p.book.category.name}}</p>
																		</div>
																		<div class="price d-flex align-items-center">
																			<h6 style="color: red;">
																				<b style="color: red;">{{p.book.price | number:0}}</b> VNĐ
																			</h6>
																		</div>
																		<div class="iq-product-action">
																			<div ng-click="addcart(p.book)" style="background-color: #659bdb;
																			 margin: 5px 10px;
																			padding: 8px 0px;
																			border-radius: 20px;
																			text-align: center;
																			cursor: pointer;">
																				<a href=""><i 
																					class="ri-shopping-cart-2-fill text-primary"></i></a>
																			</div>
																			<div ng-click="removefavorite(p.book.id)" style="background-color: #659bdb;
																			 margin: 5px 10px;
																			padding: 8px 0px;
																			border-radius: 20px;
																			text-align: center;
																			cursor: pointer;">
																				<a  href=""
																				class="ml-2 ri-heart-fill" style="color: red;"></a>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="col-sm-12" style="display: flex; justify-content: center;">
													<nav aria-label="Page navigation example">
														<ul class="pagination">
															<li class="page-item"><a
																style="background-color: #fbeec1; border: none; margin: 0px 5px; color: #808080;"
																 ng-click="pagerfavorite.first()" class="page-link">Trang đầu</a></li>
															<li class="page-item"><a class="page-link"
																style="background-color: #fbeec1; border: none; margin: 0px 5px; color: #808080;"
																 ng-click="pagerfavorite.prev()">Về trước</a></li>
															<li class="page-item">
																<button class="page-link">{{pagerfavorite.page
																	+ 1}} / {{pagerfavorite.count}}</button>
															</li>
															<li class="page-item"><a class="page-link"
																style="background-color: #fbeec1; border: none; margin: 0px 5px; color: #808080;"
																 ng-click="pagerfavorite.next()">Tiếp theo</a></li>
															<li class="page-item"><a class="page-link"
																style="background-color: #fbeec1; border: none; margin: 0px 5px; color: #808080;"
																 ng-click="pagerfavorite.last()">Trang cuối</a></li>
														</ul>
													</nav>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- Kết thúc phần mày lấy rồi đó -->
							</div>
						</div>
</body>

</html>